.error {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  padding: 20px 30px;
  margin: 10px auto;
  border: 1px solid lightcoral;
  border-radius: 4px;
  color: lightcoral;
}